@page "{handler?}"
@model StoreApp.Pages.GoodsModel
@{
    ViewData["Title"] = "Goods";
}
@using Models

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
</div>

<div class="float-right">
    <div class="row mb-2">
        <form method="POST">
            <input type="submit" class="mr-2" asp-page-handler="FromCheapToExpansive" value="Від дешевих до дорогих" />
            <input type="submit" class="mr-2" asp-page-handler="FromExpansiveToCheap" value="Від дорогих до дешевих" />
            <input type="submit" class="mr-2" asp-page-handler="Reset" value="Скинути" />
        </form>
    </div>
    <div class="row mb-2">
        <form method="POST">
            <label>Ціна</label>
            <input type="text" class="mr-2" name="from" value="@Model.FromValueText" />
            -
            <input type="text" class="mr-2" name="to" value="@Model.ToValueText" />
            <input type="submit" class="mr-2" asp-page-handler="Filter" value="OK" />
        </form>
    </div>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Price</th>
            <th scope="col">Details</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Items.Count == 0)
        {
        <tr>
            <td></td>
            <td></td>
            <td>
                <form method="post">
                    <div class="text-center my-2">
                        <button class="btn btn-success">Generate!</button>
                    </div>
                </form>
            </td>
            <td></td>
            <td></td>
        </tr>
        }
        @foreach (Item item in Model.Items)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td>@item.Price</td>
                <td>
                    <form method="post">
                        <a asp-page="Details" asp-route-id="@item.Id">More</a>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<p>Кількість товарів: @Model.GoodsQuantity()</p>
